[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/markabe/bufexplorer.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/rafaelfranca/snipmate.vim.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/carlosantoniodasilva/snipmate-snippets.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/sryche/html5-vim-minimal.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
